<link rel="stylesheet" href="/css/size.css">

<body class="about"></body>
    
    <div class="card-body col-lg-4">
        <h1>Be-Memory</h1>
        <p>Esta es una aplicacion realizada para archivar y anotar los temas tratados.</p>
        <p>Se podran guardar temas de conversacion, futuras reuniones, etc.</p>
    </div>
    
</body>